#container {
    padding: 2rem;
}

.container {
    background-color: #0e8070;
    border: 5px double black;
    color: rgb(192, 116, 28);
    margin-bottom: 2rem;
    padding: 1rem;
}

.container img {
    max-height: 15vh;
    margin-bottom: 1rem;
}

.container h4 {
    font-size: 24px;
    margin-bottom: 0.5rem;
}

.container h6 {
    font-size: 14px;
    margin-bottom: 0.5rem;
}

.container p {
    font-size: 16px;
    margin-bottom: 1rem;
}

form {
    margin-top: 2rem;
}

form .btn {
    margin-top: 1rem;
}
