
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-brand {
    font-weight: bold;
  }
  
  .nav-link {
    color: #fff;
    margin-left: 15px;
  }
  
  .navbar-nav.ml-auto {
    margin-left: auto;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  