{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block content %}
<div class="login">
    <h2>Login</h2>

    <form method="post" class="form">
        {% csrf_token %}
        
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        
        <p class="loginlook">
            {{ form.as_p}}
        </p>
        
        <button class='btn btn-primary' type="submit">Login</button>
        
        <p class=" forme">Don't have an account <a href="{% url 'signup' %}">signup</a></p>
    </form>
</div>
{% endblock %}
