{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}


{% block content %}


{% if user.is_authenticated %}
    <div class="container">
    
            {% for post in start|slice:"5" %}
                <div class="col">
                    <!-- <div class="img-container">

                    </div> -->
                    <div class="contag">
                        <img src="{{ post.imageURL }}" class="img rounded" alt="Image" />
                        <p class="head">author: {{ post.author.user.username }}</p>
                        <p class="head">title: {{ post.title }}</p>
                        <p class="head">{{ post.category.name }}</p>
                        <p class="cont">{{ post.content|truncatewords_html:10 }}</p>
                        <button class="btn btn-primary">
                            <a href="{% url 'posting' post.id %}" class="btn btn-primary">Read More</a>
                        </button>
                    </div>
                    
                </div>
                {% if forloop.counter|divisibleby:3 and not forloop.last %}
                    </div><div class="row">
                {% endif %}
            {% endfor %}
        


    </div>
    {% else %}
        <div class="container">

        {% for post in start|slice:"5" %}
            <div class="col">
                <div class="contag">
                    <div class="img-container">
                        <img src="{{ post.imageURL }}" class="img" alt="Image" />
                    </div>
                    <h5 class="head">author: {{ post.author.user.username }}</h5>
                    <h4 class="head">title: {{ post.title }}</h4>
                    <h6 class="head">{{ post.category.name }}</h6>
                    <p class="cont">{{ post.content|truncatewords_html:10 }}</p>
                    <button class="btn btn-primary">
                        <a href="{% url 'login' %}">Read More</a>
                    </button>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}

        </div>
    {%endif%}

{% endblock %}
