{% extends 'base.html' %}

{% load static %}

{% block title %}
    Home
{% endblock %}


{% block content %}

<div class="container">
    {% if user.is_authenticated %}
        <section id="card">
            <div class="row">
                {% for post in start|slice:"5" %}
                    <div class="col">
                        <div class="contag">
                            <div class="img-container">
                                <img src="{{ post.imageURL }}" class="img" alt="Image" />
                            </div>
                            <h5 class="head">author: {{ post.author.user.username }}</h5>
                            <h4 class="head">title: {{ post.title }}</h4>
                            <h6 class="head">{{ post.category.name }}</h6>
                            <p class="cont">{{ post.content|truncatewords_html:10 }}</p>
                            <button class="btn btn-primary">
                                <a href="{% url 'posting' post.id %}" class="btn btn-primary">Read More</a>
                            </button>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    {% else %}
        <section id="card">
            <div class="row">
                {% for post in start|slice:"5" %}
                    <div class="col">
                        <div class="contag">
                            <div class="img-container">
                                <img src="{{ post.imageURL }}" class="img" alt="Image" />
                            </div>
                            <h5 class="head">author: {{ post.author.user.username }}</h5>
                            <h4 class="head">title: {{ post.title }}</h4>
                            <h6 class="head">{{ post.category.name }}</h6>
                            <p class="cont">{{ post.content|truncatewords_html:10 }}</p>
                            <button class="btn btn-primary">
                                <a href="{% url 'login' %}">Read More</a>
                            </button>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 and not forloop.last %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    {% endif %}
</div>
{% endblock %}
