{% extends 'base.html' %}

{% block title %}
    Blog Post
{% endblock %}

{% block content %}
    <div class="container" id="topDetails" >
        
            <div class="image">
                {% if form.image %}
                <img src="{{ form.image.url }}" class="rounded" alt="Image" >
            {% endif %}
            </div>
            <div class="details">
                <p>title: {{ form.title }}</p>
                
                <p>author: {{ form.author }}</p>
                <p>Created at: {{ form.created_at }} | Published: {{ form.published }}</p>
    
                <p>{{ form.category.name }}</p>
                    {{ form.tag_name }}
       
            </div>

            <div class="content" >
                <p>{{ form.content }}</p>
            </div>
            {%if user == form.author%}
            <button class="btn btn-primary"><a href="{% url 'update_blog' form.id %}" style="color: white;">Update</a></button>
            <button class="btn btn-danger"><a href="{% url 'delete_blog' form.id %}" style="color: white;">Delete</a></button>
            {%endif%}
    </div>

    
   
        <div class="comment-section">
            <h5>Add Comment</h5>
            <form method="post">
                {% csrf_token %}
                {{ req.as_p }}
                <button type="submit" class="btn btn-secondary">Post Comment</button>
            </form>
            <div class="trip">
                {% for comment in res %}
                    <div class="comment">{{ comment.text }}</div>
                {% empty %}
                    <p class="no-comments">No comments yet.</p>
                {% endfor %}
            </div>
        </div>
        
        
    
{% endblock %}
