<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style ="background-color:#eee;">
    <!-- <div class="container">
        <div class="profile-header">
            <div class="profile-banner">
                <img src="{% static 'images/back-7.jpg' %}" alt="Profile Banner">
            </div>
            <div class="profile-avatar">
                <img src="{% static 'images/back-1.jpg' %}" alt="Profile Picture">
            </div>
            <h1 class="profile-name">{{ user.username }}</h1>
            <p class="profile-bio">{{ user.profile.bio }}</p>
        </div>
        <div class="profile-info">
            <div class="profile-info-item">
                <h3>First Name</h3>
                <p>{{ user.first_name }}</p>
            </div>
            <div class="profile-info-item">
                <h3>Last Name</h3>
                <p>{{ user.last_name }}</p>
            </div>
            <div class="profile-info-item">
                <h3>Email</h3>
                <p>{{ user.email }}</p>
            </div>
        </div>
    </div> -->
    <section style="background-color: #eee;">
        <div class="container py-5">
  
          <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3">{{user.username}}</h5>
                  <p class="text-muted mb-1">{{user.name}}</p>
                  <p class="text-muted mb-4">{{user.email}}</p>
                  <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary">Follow</button>
                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                  </div>
                </div>
              </div>
                             
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Full name</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.first_name}}  {{user.last_name}}</p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0">{{user.email}}</p>
                    </div>
                  </div>
                  <hr>
                 
                  </div>
                </div>
              </div>
            
                  </div> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
