<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="profile-header">
            <div class="profile-banner">
                <img src="{% static 'images/back-7.jpg' %}" alt="Profile Banner">
            </div>
            <div class="profile-avatar">
                <img src="{% static 'images/back-1.jpg' %}" alt="Profile Picture">
            </div>
            <h1 class="profile-name">{{ user.username }}</h1>
            <p class="profile-bio">{{ user.profile.bio }}</p>
        </div>
        <div class="profile-info">
            <div class="profile-info-item">
                <h3>First Name</h3>
                <p>{{ user.first_name }}</p>
            </div>
            <div class="profile-info-item">
                <h3>Last Name</h3>
                <p>{{ user.last_name }}</p>
            </div>
            <div class="profile-info-item">
                <h3>Email</h3>
                <p>{{ user.email }}</p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
