{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
<div class="signup">
    <h2>Sign Up</h2>
    <form method="post" class="form">
        {% csrf_token %}
        {{form_p}}
        
        {% if messages %}
            {% for message in messages %}
                <p style="padding-top:5px ;padding-left:5px" > {{ message }}</p>
            {% endfor %}
        {% endif %}

        {% for field in form  %}
         
            <p class="forme">{{field.label}} :<br>{{field}}</p>
          {% for errors in field.errors %}
          <p >{{errors}}</p>
          {% endfor %}
        {% endfor %}    
        <button class="btn" type="submit">Sign Up</button>
        
        <p class="forme">already have an acount!! <a href="{% url 'login' %}">click here</a></p>
    </form>
</div>
{% endblock %}
