{% extends 'base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div class="form-container">
        <h2>Sign Up</h2>
        <form method="post" class="signup-form">
            {% if messages %}
                {% for message in messages %}
                    <p style="padding-top:5px ;padding-left:5px" > {{ message }}</p>
                {% endfor %}
            {% endif %}
            {% csrf_token %}
            {% for field in form  %}
                <p class="form-field">{{field.label}} :<br>{{field}}</p>
                {% for error in field.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button class="btn" type="submit">Sign Up</button>
            <p class="forme">Already have an account? <a href="{% url 'login' %}">Click here to login</a></p>
        </form>
    </div>
{% endblock %}
