asgiref==3.7.2
beautifulsoup4==4.12.2
bootstrap4==0.1.0
Django==4.2.1
django-bootstrap-v5==1.0.11
django-taggit==4.0.0
django-widget-tweaks==1.4.12
Pillow==9.5.0
soupsieve==2.4.1
sqlparse==0.4.4
typing_extensions==4.6.2
